.button {
  border: 0;
  padding: 20px;
  cursor: pointer;
  background: rgb(67, 67, 180, 35%);
  border-radius: 10px;
}
.button:hover {
  background: rgb(67, 67, 180, 50%);
  transition: 100ms;
}

.skin {
  width: var(--w, auto);
  height: var(--h, auto);
  background: var(--bg) center/contain no-repeat;
}

.skin:hover {
  background-image: var(--bg-hover);
}

.skin:active {
  background-image: var(--bg-active);
}
