.button {
  border: 0;
  padding: 10px;
  cursor: pointer;
  background: blue;
}

.skin {
  width: var(--w, auto);
  height: var(--h, auto);
  background: var(--bg) center/contain no-repeat;
}

.skin:hover {
  background-image: var(--bg-hover);
}

.skin:active {
  background-image: var(--bg-active);
}
