.panelContainer {
  color: white;
  height: 946px;
  background-image: url("./Images/GamecontrolPanel.png");
  background-size: cover;
  background-position: center;
  width: 633px;
  display: grid;
  grid-template-rows: 1.2fr 1.1fr 1.1fr 0.5fr;
  filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.75))
    drop-shadow(0 18px 14px rgba(0, 0, 0, 0.45));
}

.stoneBoard {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-left: 80px;
  padding-right: 80px;
}

.firstStone,
.secondStone {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
  margin-top: 20px;
}

.p1StoneInfo,
.p2StoneInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 15px;
  height: auto;
  filter: drop-shadow(0 3px 1px rgba(0, 0, 0, 0.65))
    drop-shadow(0 3px 3px rgba(0, 0, 0, 0.55));
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

.playerTurn {
  font-size: 18px;
  text-align: center;
  width: 400px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.Player {
  color: red;
  font-size: 18px;
}

.timerReset {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  filter: drop-shadow(0 7px 3px rgba(0, 0, 0, 0.65))
    drop-shadow(0 3px 3px rgba(0, 0, 0, 0.55));
}

.icons {
  width: 70px;
  height: 70px;
}

.Players {
  font-size: 12px;
  position: static;
  overflow: hidden;
  line-height: 1.2;
  height: calc(1.2em * 2);
  max-width: 100%;
  text-align: center;
}
