.woodBox {
  color: white;
  width: 561px;
  height: 708px;
  background-image: url("./images/ModalWindow.png");
  background-size: cover;
  background-position: center;
}

.layout {
  display: grid;
  height: 88vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr repeat(2, 1fr);
  grid-column-gap: px;
  grid-row-gap: 0px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 1 / 2 / 2;
  height: 15vh;
}
.message {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 2 / 1 / 3 / 2;
}
.inputBox {
  grid-area: 3 / 1 / 4 / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  align-items: stretch;
  justify-items: stretch;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 4 / 1 / 5 / 2;
  height: 16vh;
}
.player1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
