.woodBox {
  color: white;
  width: 561px;
  height: 708px;
  background-image: url("./images/ModalWindow.png");
  background-size: cover;
  background-position: center;
}

.layout {
  display: grid;
  height: 708px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2.5fr repeat(2, 1fr);
  grid-column-gap: px;
  grid-row-gap: 0px;
}

.gameOverHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: rgb(195, 0, 0);
  grid-area: 1 / 1 / 2 / 2;
}

.instructionsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: 1 / 1 / 2 / 2;
}

.subHeader {
  margin-top: 20px;
  font-size: 40px;
  color: rgb(195, 0, 0);
}

.instructionsMessage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  text-align: left;
  padding: 0 110px;
  grid-area: 2 / 1 / 4 / 2;
  gap: 20px;
  margin-top: 20px;
}

.instructionsMessage p {
  margin: 0;
}

.randomMessage {
  display: flex;
  flex-direction: column;
  color: #f4ede1;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 24px;
  grid-area: 2 / 1 / 4 / 2;
}
.inputBox {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 80px;
  padding-right: 45px;
  align-items: center;
  justify-content: space-between;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 4 / 1 / 5 / 2;
}
.player1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Player {
  color: red;
}

.icon {
  height: 150px;
  width: 150px;
}
